<%= partial :heading, :locals => { page: data.titles.sponsors } %>

<div class="content intro">
  <div class="master-column">
    <div class="col-title">
      <h2>Sponsors</h2>
    </div>
    <div class="col-description">
      <p>Sponsoring the Golden Gate Ruby Conference is a great way to get access to the top Ruby talent in San Francisco, and from around the world. Whether your goals are recruiting, brand awareness, developer adoption, or anything else, we bring together several hundred highly qualified engineers, in an intimate, network-heavy environment. To learn more about sponsoring, <strong><a href="/images/GGRC14—Prospectus-V3.pdf">download the Prospectus</a></strong> or <strong><a href="mailto:sponsors@gogaruco.com">contact Leah Silber</a></strong>.</p>
    </div>
  </div>
</div>
<div class="content story">
  <div class="master-column sponsors-list">
    <% unless data.sponsors.diamond.blank? %>
      <h2>Diamond</h2>
      <div>
        <% data.sponsors.diamond.each do |sponsor| %>
          <dl>
            <dt><%= link_to image_tag(sponsor.lighter_image, alt: sponsor.name) , sponsor.website%></dt>
            <dd><%= sponsor.description %></dd>
          </dl>
        <% end %>
      </div>
    <% end %>
    <% unless data.sponsors.platinum.blank? %>
      <h2>Platinum</h2>
      <div>
        <% data.sponsors.platinum.each do |sponsor| %>
          <dl>
            <dt><%= link_to image_tag(sponsor.lighter_image, alt: sponsor.name) , sponsor.website%></dt>
            <dd><%= sponsor.description %></dd>
          </dl>
        <% end %>
      </div>
    <% end %>
    <% unless data.sponsors.gold.blank? %>
      <h2>Gold</h2>
      <div>
        <% data.sponsors.gold.each do |sponsor| %>
          <dl>
            <dt><%= link_to image_tag(sponsor.lighter_image, alt: sponsor.name) , sponsor.website%></dt>
            <dd><%= sponsor.description %></dd>
          </dl>
        <% end %>
      </div>
    <% end %>
    <% unless data.sponsors.silver.blank? %>
      <h2>Silver</h2>
      <div>
        <% data.sponsors.silver.each do |sponsor| %>
          <dl>
            <dt><%= link_to image_tag(sponsor.lighter_image, alt: sponsor.name) , sponsor.website%></dt>
            <dd><%= sponsor.description %></dd>
          </dl>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
